<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edage">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	    <title>麦克茂</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        @Styles.Render("~/Content/common.css")
	</head>
	<body>
	<section id="banner" class="banner">
		<div class="container">
			<div class="media" >
			    <div class="media-body text-white">
			        <h2 class=" margin-bottom-30">麦克茂</h2>
			        <p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
			        <p>每个人都有自己的么能量切未被完全释放，它需要一种激活的方式，麦克茂因此建立了一种能量转换平台。</p>
			    </div>
                @RenderBody()
			    
			</div>
		</div>
	</section>
	<section class="servers text-center">
		<div class="container">
			<h2 class="margin-bottom-30">我们的服务</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="bg-warning servers-step"><img src="~/images/dianpu.png" alt=""></div>
					<h4 class="margin-top-15">店铺</h4>
					<p class="text-center">每个人都有自己的么能量切未被完全释放，它需要一种激活的方式，麦克茂因此建立了一种能量转换平台。</p>
				</div>
				<div class="col-md-3">
					<div class="bg-warning servers-step"><img src="~/images/hongbao.png" alt=""></div>
					<h4 class="margin-top-15">红包</h4>
					<p class="text-center">每个人都有自己的么能量切未被完全释放，它需要一种激活的方式，麦克茂因此建立了一种能量转换平台。</p>
				</div>
				<div class="col-md-3">
					<div class="bg-warning servers-step"><img src="~/images/ad.png" alt=""></div>
					<h4 class="margin-top-15">广告</h4>
					<p class="text-center">每个人都有自己的么能量切未被完全释放，它需要一种激活的方式，麦克茂因此建立了一种能量转换平台。</p>
				</div>
				<div class="col-md-3">
					<div class="bg-warning servers-step"><img src="~/images/zhenghe.png" alt=""></div>
					<h4 class="margin-top-15">整合</h4>
					<p class="text-center">每个人都有自己的么能量切未被完全释放，它需要一种激活的方式，麦克茂因此建立了一种能量转换平台。</p>
				</div>
			</div>
		</div>
	</section>
	<section id="ad" class="ad">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-3"> <img src="~/images/pic1.png" alt=""> 	</div>
				<div class="col-md-6"><img src="~/images/pic2.png" alt="" class="margin-left-20"></div>
				<div class="col-md-3"><img src="~/images/pic3.png" alt="">
				<img src="../images/pic4.png" alt=""></div>
			</div>
		</div>
	</section>
	<section class="details" id="details">
		<div class="container">
			<div class="media">
				<div class="media-body padding-right-30">
					<h4>红包</h4>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
				</div>
				<div class="media-right"><img src="~/images/pic5.png" alt=""></div>
			</div>
		</div>
		<div class="bg-default">
			<div class="container">
			<div class="media">
				<div class="media-left">
					<img src="~/images/pic5.png" alt=""/>
				</div>
				<div class="media-body padding-left-30">
					<h4>店铺</h4>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p></div>
			</div>
		</div>
		</div>
		
		<div class="container">
			<div class="media">
				<div class="media-body padding-right-30">
					<h4>广告</h4>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
					<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
				</div>
				<div class="media-right"><img src="~/images/pic5.png" alt=""></div>
			</div>
		</div>
	</section>
	<section class="about text-center">
		<div class="container">
			<h2 class="margin-bottom-30">关于我们</h2>
			<p>麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
			<p>	麦克茂是以人的能量为核心产品，以社区群落为基准对象，实现可持续发展的生态上午体系。</p>
			<img src="~/images/pic6.png" alt="" class="margin-top-30">
		</div>
		
	</section>
	<section class="foot text-center margin-top-30">
		<!-- <div class="footer"> -->
			&copy; copyright 2016	<span class="margin-left-15">公司地址：长沙市岳麓区</span> <span class="margin-left-15">电话：<span class="text-phone">0731-87659803</span></span>
		<!-- </div> -->
		
	</section>
	</body>
</html>
